body{
    margin: 0;
    background-color: #fff;
}
.container {
    width: 1600px;
    margin: 0 auto;
    display: flex;
}
.left-block {
    position: relative;
    width: 50%;
    height: 693px;
    overflow:hidden;
}
.left-block img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
    display: block;
}
.text-block {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: black;
    color: white;
    padding: 10px 15px;
    width: 200px;
    height: auto;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    z-index: 2;
}
.right-block {
    width: 50%;
    background-color: white;
}